# Web Framework
Flask==2.2.5
flask-swagger-ui==4.11.1
gunicorn

# AWS SDK
boto3==1.34.111
botocore

# Environment Variables
python-dotenv==0.21.0

# Machine Learning & Data Processing
scikit-learn==1.2.2
pandas==2.1.4
numpy
scipy
joblib
matplotlib
seaborn
s3fs

# NLP & Text Processing
nltk

# Big Data Processing
pySpark==3.5.2

# Report Generation
reportlab
fpdf==1.7.2