<footer>
    <p> Need Help? Check out our <a href="https://verbose-balloon-c32.notion.site/ML-Platform-Project-648585474b8a494abc02d071ccd8e4a3" target="_blank" rel="noopener noreferrer"> User Guide</a>.</p>
    <div class="social-links">
        <p>📢 Follow Me:</p>
        <a href="https://github.com/namdarine" target="_blank">👨‍💻 GitHub</a>  |
        <a href="https://namdarine.github.io/" target="_blank">🌐 Portfolio</a>  |
        <a href="https://www.linkedin.com/in/nam-gyu-lee/" target="_blank">💼 LinkedIn</a>
    </div>
</footer>
