<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoML Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <h1>AutoML Hub</h1>
    <div class="button-container">
        <button class="button" onclick="location.href='/clustering'">Clustering</button>
        <button class="button" onclick="location.href='/classification'">Classification</button>
    </div>
    
    <div class="footer-container">
        {% include 'footer.html' %}
    </div>
</body>
</html>
