<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <h1>ML Platform</h1>
    <div class="button-container">
        <button class="button" onclick="location.href='/clustering'">Clustering</button>
        <button class="button" onclick="location.href='/classification'">Classification</button>
    </div>
    
    {% include 'footer.html' %}
</body>
</html>
