<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File for Clustering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload your File for Clustering</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Upload your file:</label>
        <input type="file" name="file" id="file" required>
        <br>
        <input type="hidden" name="task" value="clustering">
        <br>
        <button type="submit">Upload</button>
    </form>
    {% include 'footer.html' %}
</body>
</html>
